{% extends 'base.html' %}

{% load static %}

{% block title %} JURIALERTE | Login  {% endblock %}

{% block body %}
    <body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden text-bg-light min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">

              <div class="card-body">
                <a href="{% url 'users:index' %}" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <img width="150px" src="{% static 'images/logos/logo_.png' %}" alt="">
                </a>
                <p class="text-center">Bienvenue sur votre assistant numerique</p>
                {% if error_message %}
                <div class="text-center alert alert-danger alert-dismissible fade show" role="alert">
                    <span>{{ error_message }}</span>
                </div>
                {% endif %}
                  <form method="POST" action="{% url 'users:login' %}">
                    {% csrf_token %}
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Username</label>
                    {{form.username}}
                  </div>
                  <div class="mb-4">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    {{form.password}}
                  </div>

                    <button type="submit"  class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Se connecter</button>

                </form>
              </div>



            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js' %}"></script>
</body>
{% endblock %}
